**/node_modules
**/dist
**/.turbo
**/.next
**/.cache

.git
.gitignore
Dockerfile
node_modules
**/Dockerfile
docker-compose.yml
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-lock.yaml
pwa-builder/builds/**